[Desktop Entry]
Version=1.0
Name=The Powder Toy
Exec=powdertoy open %f
Icon=powdertoy
Terminal=False
Type=Application
MimeType=application/vnd.powdertoy.save;
Categories=Game;
