#!/usr/bin/make -f
%:
	dh $@

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

SCONS_OPTS := --lin --release

ifeq ($(DEB_HOST_ARCH),amd64)
	SCONS_OPTS += --64bit
endif

override_dh_auto_build:
	scons $(SCONS_OPTS)
ifeq ($(DEB_HOST_ARCH),amd64)
	cp -f build/powder64 build/powder
endif
	cp Changelog.txt changelog

override_dh_auto_clean:
	rm -rf build/ changelog .sconf_temp/ .sconsign.dblite config.log

override_dh_strip:
	dh_strip --dbg-package=the-powder-toy-dbg

