#!/usr/bin/make -f
%:
	dh $@

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

target = powder-sse2

ifeq ($(DEB_HOST_ARCH),amd64)
	target = powder-64-sse2
endif

override_dh_auto_build:
	make $(target)
	mv build/$(target) build/powder
	cp src/Resources/icon/powder-48.png src/Resources/icon/powdertoy-48.png

override_dh_auto_clean:
	make clean
	rm -f src/Resources/icon/powdertoy-48.png
	rm -f build/powder*
