[Desktop Entry]
Version=1.0
Name=The Powder Toy
Exec=/home/kroq-gar78/powdertoy/powder
Icon=/home/kroq-gar78/powdertoy/powder-icon.png
Terminal=False
Type=Application
Categories=Game;
