[Desktop Entry]
Version=1.0
Name=The Powder Toy
Exec=the-powder-toy
Icon=/usr/lib/games/the-powder-toy/powder-48.png
Terminal=False
Type=Application
Categories=Game;
